.main-inner { 
  margin-top: 60px;
  padding: 60px 60px 60px 60px;
  background: #eee8d5;
  opacity: 0.8;
  min-height: 500px;
} 
.main-inner { 
  margin-top: 60px;
  padding: 60px 60px 60px 60px;
  background: #eee8d5;
  opacity: 0.8;
  min-height: 500px;
} 
